.home__title {
  color: var(--secondary);
}
.home {
  flex-direction: column;
}
.category {
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
}
.card__media {
  width: 100%;
}
.btn {
  text-align: center;
}
