.filter {
  display: flex;
  align-items: center;
}
.btn--clear {
  margin-left: auto;
}
.products {
  flex-direction: column;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Start-Product Image css */
.card__badge-icon {
  height: 16rem;
}
.card__media {
  object-fit: contain;
  max-height: 100%;
  height: 80%;
  width: 70%;
}
.card__action--like {
  top: 0;
  color: var(--primary);
}
.icon-button__icon--on {
  color: var(--primary);
}
.card .card__media {
  border-radius: unset;
}
/* End -Product Image css */
